body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #6eda78 0%, #ffa200 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: #ffa200 !important;
  border-color: #ffa200;
  color: #FFFFFF;
  
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):active {
  background-color: #6eda78 !important;
  border-color: #6eda78;
  color: #FFFFFF;
}

.square {
  height: 100px;
  width: 100px;
  background-color: #555;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: #555;
  border-radius: 50%;
}

.oval {
  height: 100px;
  width: 200px;
  background-color: #555;
  border-radius: 50%;
}

.parallelogram {
  width: 150px;
  height: 100px;
  transform: skew(20deg);
  background: #555;
}

.rectangle {
  height: 100px;
  width: 150px;
  background-color: #555;
}

.trapezoid {
  border-bottom: 100px solid #555;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 200px;
}
